<html>
  <head>
    <title>The Gossip Project</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <h3>Bienvenue, la liste des potins arrive bientôt</h3>
    <a href="/gossips/new/">Créer un nouveau potin</a>

    <h2>Voici tous les gossips:</h2>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
    <% end %>

  </body>
</html>